.main-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 25px;
    background-color: #012b5d;
    color: #fff;
    .job-res-title{
        display: flex;
        align-items: center;
        img{
            width: 42px;
            margin-right: 5px;
        }
    }
    .nav-links{
        ul{
            display: flex;
            list-style-type: none;
            li{
                margin: 0px 27px;
                a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
}